{% extends "layout.html" %}

{% block page_title %}
  Number of previous events held by associates
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <button class="link-back">Back</button>

      <form class="form" action="associates-previous-events-nearby" method="POST">
        <div class="form-group" data-required="Please answer this question">
          <fieldset>
            <legend>
              <h1 class="heading-large">
                Have any of your business associates held a temporary event licence for the same location in the past calendar year?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="associates-previous-licences-no" type="radio" name="associatesPreviousLicence" value="no" {{ checked('associatesPreviousLicence','no') }}>
              <label for="associates-previous-licences-no">No</label>
            </div>

            <div class="multiple-choice" data-target="associates-previous-licences-how-many">
              <input id="associates-previous-licences-yes" type="radio" name="associatesPreviousLicence" value="yes" {{ checked('associatesPreviousLicence','yes') }}>
              <label for="associates-previous-licences-yes">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="associates-previous-licences-how-many">
              <label class="form-label form-label-bold" for="associates-how-many-previous-licences">How many temporary event licences have they held in the past year in the same location?</label>
              <input class="form-control" name="associates-how-many-previous-licences" type="text" id="associates-how-many-previous-licences" value="{{ data['associates-how-many-previous-licences'] }}">
            </div>
          </fieldset>
        </div>
        <div class="form-group">
            <div class="form-group">
              <input class="button" type="submit" value="Continue">
            </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
