{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Check if you need a temporary event notice
      </h1>

      <p>If this is your first application, or you're not sure if you need to apply, you can check if you need a temporary event notice.</p>

      <p>If you already know you need to apply, you can <a href="task-list">start your application</a> now.</p>

      <p>
        <a class="button" href="licensable-activities" role="button">Check if you need to apply</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
