{% extends "layout.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
       Check your answers before sending your application
     </h1>

      {# <h2 class="heading-medium">
        Basic eligibility
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Licensable activities
          </dt>
          <dd class="cya-answer">
            <ul class='list-bullet'>
               {% for activity in data['licensableActivities'] %}
                  <li>{{ activity }}</li>
               {% endfor %}
            </ul>
          </dd>
          <dd class="cya-change">
            <a href="licensable-activities">
              Change<span class="visually-hidden"> licencesable activities</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Existing premises licence
          </dt>
          <dd class="cya-answer">
            {% if data['existingLicence'] == 'no' %}You do not have an existing premises licence.{% endif %}
            {% if data['existingLicence'] == 'yes' and data['licenceCover'] == 'no' %}Your existing licence does not cover the event.{% endif %}
          </dd>
          <dd class="cya-change">
            <a href="existing-premises-licence">
              Change<span class="visually-hidden"> existing premises licence</span>
            </a>
          </dd>
        </div>
      </dl> #}

      <h2 class="heading-medium">
        Local council
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Council
          </dt>
          <dd class="cya-answer">
            {{data['local-council']}}
          </dd>
          <dd class="cya-change">
            <a href="local-council">
              Change<span class="visually-hidden"> local council</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="heading-medium">
        Event details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Event start date
          </dt>
          <dd class="cya-answer">
            {% if data['event-start-day'] %}
            {{ data['event-start-day'] }}/
            {% endif %}
            {% if data['event-start-month'] %}
            {{ data['event-start-month'] }}/
            {% endif %}
            {{ data['event-start-year'] }}
          </dd>
          <dd class="cya-change">
            <a href="event-start-date">
              Change<span class="visually-hidden"> event start date</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Event duration
          </dt>
          <dd class="cya-answer">
            {% if data['eventDuration'] == 'one' %}One day{% endif %}
            {% if data['eventDuration'] == 'two-to-seven' %}Two to seven days{% endif %}
          </dd>
          <dd class="cya-change">
            <a href="event-duration">
              Change<span class="visually-hidden"> event duration</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Type of event
          </dt>
          <dd class="cya-answer">
            {{ data['event-description'] }}
          </dd>
          <dd class="cya-change">
            <a href="event-description">
              Change<span class="visually-hidden"> type of event</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Event costs
          </dt>
          <dd class="cya-answer">
            {% if data['event-selling-tickets'] == 'no' %}None{% endif %}
            {% if data['event-selling-tickets'] == 'yes' %}
            £{{ data['tickets-cost'] }}
            {% endif %}
          </dd>
          <dd class="cya-change">
            <a href="event-description">
              Change<span class="visually-hidden"> type of event</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Premises
          </dt>
          <dd class="cya-answer">
            {{ data['event-address'] }}
            {{ data['event-postcode'] }}
          </dd>
          <dd class="cya-change">
            <a href="event-postcode">
              Change<span class="visually-hidden"> premises</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="heading-medium">
        Applicant details
      </h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Full name
          </dt>
          <dd class="cya-answer">
            {{ data['applicant-name'] }}
          </dd>
          <dd class="cya-change">
            <a href="applicant-details">
              Change<span class="visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            {% if data['applicant-dob-day'] %}
            {{ data['applicant-dob-day'] }}/
            {% endif %}
            {% if data['applicant-dob-month'] %}
            {{ data['applicant-dob-month'] }}/
            {% endif %}
            {{ data['applicant-dob-year'] }}
          </dd>
          <dd class="cya-change">
            <a href="applicant-details">
              Change<span class="visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Contact method
          </dt>
          <dd class="cya-answer">
            {% if data['contact-method'] == 'email' %}{{ data['contact-email'] }}{% endif %}
            {% if data['contact-method'] == 'phone' %}{{ data['contact-phone'] }}{% endif %}
            {% if data['contact-method'] == 'text-message' %}{{ data['contact-text-message'] }}{% endif %}
          </dd>
          <dd class="cya-change">
            <a href="contact-details">
              Change<span class="visually-hidden"> contact method</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="heading-medium">
        Summary
      </h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Total cost
          </dt>
          <dd class="cya-answer">
            £21
          </dd>
          <dd class="cya-change">

          </dd>
        </div>
      </dl>



      <br>
      <div class="form-group">
        <a href="declaration" class="button">Continue</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
