{% extends "layout.html" %}

{% block page_title %}
  Event start date
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#back">Back</a>

      <h1 class="heading-large">
         Event start date
      </h1>

      <form class="form" action="event-duration" method="POST" novalidate>
        <fieldset class="form-group" data-required="Please provide event start date">
          <legend>
            <span class="form-label-bold">When does your event start?</span>
            <span class="form-hint">For example, 31 8 2017</span>
          </legend>
          <div class="form-date">
            <div id="date-picker"></div>
          </div>
        </fieldset>

        <fieldset class="form-group" data-required="Please provide start time">
          <legend>
            <span class="form-label-bold">Event start time</span>
            <span class="form-hint">For example, 14:30</span>
          </legend>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-hour">
              <label for="event-start-hour">Hour</label>
              <input class="form-control" id="event-start-hour" name="event-start-hour" type="number" data-non-numeric data-no-keys-nav data-max-length=2  datapattern="[0-9]*" min="0" max="24" value="{{ data['event-start-hour'] }}">
            </div>

            <div class="form-group form-group-minute">
              <label for="event-start-minute">Minute</label>
              <input class="form-control" id="event-start-minute" name="event-start-minute" type="number" data-non-numeric data-no-keys-nav data-max-length=2 pattern="[0-9]*" min="0" max="59" value="{{ data['event-start-minute'] }}">
            </div>

          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
