{% extends "layout.html" %}

{% block page_title %}
  Nature of event
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#back">Back</a>
      <form class="form" action="/task-list">
        <div class="form-group">
          <label class="form-label" for="textarea">
            <h1 class="heading-large">
              Describe the nature of your event
            </h1>
          </label>
          <textarea class="js-character-counter form-control form-control-3-4" name="event-description" id="event-description" rows="3" maxlength="100"></textarea>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Start application">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
