{% extends "layout.html" %}

{% block page_title %}
  Event duration
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#back">Back</a>

      <form class="form" action="event-description" method="POST">
        <div class="form-group">
          <!-- Logic: If over 7, send to ineligible page -->
          <fieldset>
            <legend>
              <h1 class="heading-large">
                 How long will your event last?
              </h1>
            </legend>
            <div class="multiple-choice" data-target="event-duration-one-day-end">
              <input id="event-duration-one-day" type="radio" name="eventDuration" value="one" {{ checked('eventDuration','one') }}>
              <label for="event-duration-one-day">1 day only</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="event-duration-one-day-end">
              <fieldset class="form-group">
                <legend>
                  <span class="form-label-bold">End time</span>
                  <span class="form-hint">For example, 14 30</span>
                </legend>
                </legend>
                <div class="form-date">
                  <div class="form-group form-group-hour">
                    <label for="event-duration-one-day-end-hour">Hour</label>
                    <input class="form-control" id="event-duration-one-day-end-hour" name="event-duration-one-day-end-hour" type="number"
                    data-non-numeric data-no-keys-nav data-max-length=2 pattern="[0-9]*" min="0" max="24" value="{{ data['eventDurationOneDayEndHour'] }}">
                  </div>
                  <div class="form-group form-group-minute">
                    <label for="event-duration-one-day-end-minute">Minute</label>
                    <input class="form-control" id="event-duration-one-day-end-minute" name="event-duration-one-day-end-minute" type="number"
                    data-non-numeric data-no-keys-nav data-max-length=2 pattern="[0-9]*" min="0" max="59" value="{{ data['eventDurationOneDayEndMinute'] }}">
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="multiple-choice" data-target="event-duration-two-to-seven-days-end">
              <input id="event-duration-two-to-seven-days" type="radio" name="eventDuration" value="two-to-seven" {{ checked('eventDuration','two-to-seven') }}>
              <label for="event-duration-two-to-seven-days">2 to 7 days</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="event-duration-two-to-seven-days-end">
              <fieldset class="form-group">
                <legend>
                  <span class="form-label-bold">End date</span>
                  <span class="form-hint">For example, 31 8 2017</span>
                </legend>
                </legend>
                <div class="form-date">
                  <div class="form-group form-group-day">
                    <label for="event-duration-two-days-end-day">Day</label>
                    <input class="form-control" id="event-duration-two-days-end-day" name="event-duration-two-days-end-day" type="number"
                    data-non-numeric data-no-keys-nav data-max-length=2 pattern="[0-9]*" min="0" max="31" value="{{ data['eventDurationTwoDaysEndDay'] }}">
                  </div>

                  <div class="form-group form-group-month">
                    <label for="event-duration-two-days-end-month">Month</label>
                    <input class="form-control" id="event-duration-two-days-end-month" name="event-duration-two-days-end-month" type="number"
                    data-non-numeric data-no-keys-nav data-max-length=2 pattern="[0-9]*" min="0" max="12" value="{{ data['eventDurationTwoDaysEndMonth'] }}">
                  </div>

                  <div class="form-group form-group-year">
                    <label for="event-duration-two-days-end-year">Year</label>
                    <input class="form-control" id="event-duration-two-days-end-year" name="event-duration-two-days-end-year" type="number"
                    data-non-numeric data-no-keys-nav data-max-length=4 pattern="[0-9]*" min="0" value="{{ data['eventDurationTwoDaysEndYear'] }}">
                  </div>

                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>
                  <span class="form-label-bold">End time</span>
                  <span class="form-hint">For example, 14 30</span>
                </legend>
                </legend>
                <div class="form-date">
                  <div class="form-group form-group-hour">
                    <label for="event-duration-two-days-end-hour">Hour</label>
                    <input class="form-control" id="event-duration-two-days-end-hour" name="event-duration-two-days-end-hour" type="number"
                    data-non-numeric data-no-keys-nav data-max-length=2 pattern="[0-9]*" min="0" max="24" value="{{ data['eventDurationTwoDaysEndHour'] }}">
                  </div>

                  <div class="form-group form-group-minute">
                    <label for="event-duration-two-days-end-minute">Minute</label>
                    <input class="form-control" id="event-duration-two-days-end-minute" name="event-duration-two-days-end-minute" type="number"
                    data-non-numeric data-no-keys-nav data-max-length=2 pattern="[0-9]*" min="0" max="59" value="{{ data['eventDurationTwoDaysEndMinute'] }}">
                  </div>

                </div>
              </fieldset>
            </div>

            <div class="multiple-choice">
              <input id="event-duration-two-to-seven-days" type="radio" name="eventDuration" value="over-seven-days" {{ checked('eventDuration','over-seven-days') }}>
              <label for="event-duration-two-to-seven-days">8 or more days</label>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
            <div class="form-group">
              <input class="button" type="submit" value="Continue">
            </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
