{% extends "layout.html" %}

{% block page_title %}
  Event costs
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#">Back</a>

      <!-- Logic: nb: needs currency input pattern (design TBD) -->
      <form class="form" action="event-postcode" method="POST">

        <div class="form-group" data-required="Please answer this question">
          <fieldset>

             <legend>
               <h1 class="heading-large">
                 Will you be selling tickets for the event?
               </h1>
             </legend>

             <div class="multiple-choice">
               <input id="event-selling-tickets-no" type="radio" name="event-selling-tickets" value="no" {{ checked('event-selling-tickets','no') }}>
               <label for="event-selling-tickets-no">No, the event is free</label>
             </div>

             <div class="multiple-choice" data-target="event-selling-tickets">
               <input id="event-selling-tickets-yes" type="radio" name="event-selling-tickets" value="yes" {{ checked('event-selling-tickets','yes') }}>
               <label for="event-selling-tickets-yes">Yes, selling tickets</label>
             </div>
             <div class="panel panel-border-narrow js-hidden" id="event-selling-tickets">
               <div class="currency-input">
                 <label class="form-label form-label-bold" for="tickets-cost">
                   Approximate cost for tickets
                   <span class="visually-hidden">in £</span>
                   <span class="form-hint">For example, £32.99</span>
                 </label>
                 <div class="currency-input__inner">
                   <span class="currency-input__inner__unit">£</span>
                   <input class="form-control form-control-1-4" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                 </div>
               </div>
             </div>
           </fieldset>
         </div>
         <div class="form-group">
           <input class="button" type="submit" value="Continue">
         </div>
       </form>

    </div>
  </div>
</main>

{% endblock %}
