{% extends "layout.html" %}

{% block page_title %}
  Event postcode
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="/url/of/previous/page">Back</a>
      <form>
        <fieldset>
          <div class="form-group">
            <legend>
              <!-- To do: address h1 margin when inside legend -->
              <h1 class="heading-large">Where is the event being held?</h1>
            </legend>
            <label class="form-label" for="event-postcode">
              Postcode
            </label>
            <input class="form-control" id="event-postcode" type="text" name="event-postcode">
          </div>
          <div class="form-group">
            <button class="js-launch-lookup button">Find address</button>
          </div>
          <div class="form-group">
            <label class="form-label" for="select-box">Select an address</label>
            <select class="form-control" id="select-box" name="select-box">
              <option>Address 1</option>
              <option>Address 2</option>
              <option>Address 3</option>
            </select>
          </div>
        </fieldset>
        <div class="form-group">
          <a class="button" href="no-licence-needed">Continue</a>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
