{% extends "layout.html" %}

{% block page_title %}
  Existing premises licence
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#back">Back</a>

      <form class="form" action="ten-required" method="POST">
        <div class="form-group" data-required="Please answer this question">
          <fieldset>
            <legend>
              <h1 class="heading-large">
                Do you have an existing premises licence?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="existing-licence-no" type="radio" name="existingLicence" value="no" {{ checked('existingLicence','no') }}>
              <label for="existing-licence-no">No</label>
            </div>

            <div class="multiple-choice" data-target="existing-licence-cover-event">
              <input id="existing-licence-yes" type="radio" name="existingLicence" value="yes" {{ checked('existingLicence','yes') }}>
              <label for="existing-licence-yes">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="existing-licence-cover-event">
              <label class="form-label form-label-bold">Does your existing licence cover the event?</label>
              <div class="multiple-choice">
                <input id="licence-cover-yes" type="radio" name="licenceCover" value="yes" {{ checked('licenceCover','yes') }}>
                <label for="licence-cover-yes">Yes, my licence covers the event</label>
              </div>
              <div class="multiple-choice">
                <input id="licence-cover-no" type="radio" name="licenceCover" value="no" {{ checked('licenceCover','no') }}>
                <label for="licence-cover-no">No, my licence does not cover the event</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
            <div class="form-group">
              <input class="button" type="submit" value="Continue">
            </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
