{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Temporary Event Notice prototypes
        <span class="heading-secondary">Prototype kit version {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Prototypes of temporary event notice, used to help test new patterns.
      </p>

      <h2 class="heading-medium">Version 1</h2>
      <a href="start-page">Link to prototype</a>
      <br><br>

      <details open>

        <summary><span class="summary">Individual pages</span></summary>

        <div class="panel panel-border-narrow">

          <ol class="list list-bullet">
            <li><a href="start-page">Start page</a></li>
            <li><a href="task-list">Task list</a></li>
            <li><a href="licensable-activities">Lisensable activities</a></li>
            <li><a href="no-licence-needed">No licence needed</a></li>
            <li><a href="existing-premises-licence">Existing premises licence</a></li>
            <li><a href="ten-required">TEN required</a></li>
            <li><a href="previous-events">Number of previous events</a></li>
            <li><a href="previous-events-nearby">Number of previous events nearby</a></li>
            <li><a href="associates-previous-events">Number of previous events by associates</a></li>
            <li><a href="associates-previous-events">Number of previous events by associates nearby</a></li>
            <li><a href="licensing-council">Licensing council</a></li>
            <li><a href="event-start-date">Event start date</a></li>
            <li><a href="event-duration">Event duration</a></li>
            <li><a href="event-location">Event location</a></li>
            <li><a href="event-description">Event description</a></li>
            <li><a href="event-costs">Event costs</a></li>
            <li><a href="event-postcode">Event postcode</a></li>
            <li><a href="applicant-details">Applicant details</a></li>
            <li><a href="contact-details">Contact details</a></li>
            <li><a href="select-address">Select address</a></li>
            <li><a href="contact-address">Contact address</a></li>
            <li><a href="check-your-answers">Check your answers</a></li>
            <li><a href="declaration">Declaration</a></li>
            <li><a href="payment-card">Payment card</a></li>
            <li><a href="payment-review">Payment review</a></li>
            <li><a href="application-complete">Application complete</a></li>
          </ol>

          <p>Other pages:</p>
          <ul class="list list-bullet">
            <li><a href="ineligible">Ineligible</a></li>
          </ul>

        </div>

      </details>

    </div>
  </div>
</main>

{% endblock %}
