{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Temporary Event Notice prototypes
        <span class="heading-secondary">Prototype kit version {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Prototypes of temporary event notice, used to help test new patterns.
      </p>

      <h2 class="heading-medium">Version 1</h2>
      <a href="start-page">Link to prototype</a>

    </div>
  </div>
</main>

{% endblock %}


