{% extends "layout.html" %}

{% block page_title %}
  Ineligible
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#back">Back</a>

      <h1 class="heading-large">
        Your event is not eligible
      </h1>

      <p>The event you’re holding is not eligible to apply for a temporary event notice.</p>

      <p>See more <a href="/about-licensing">about licensing</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
