{% extends "layout.html" %}

{% block page_title %}
  Licensing council
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#back">Back</a>
      <form class="form" action="task-list" method="POST">
        <div class="form-group" data-required="Please answer this question">
          <fieldset>
            <legend>
              <h1 class="heading-large">Select your licensing council</h1>
            </legend>
            <label class="form-label" for="licensing-council-autocomplete">Search by postcode or council - for example, SW1A 2AA or Westminster</label>
            <!--input class="form-control" id="licensing-council" type="text" name="licensing-council"-->
            <!--div id="licensing-council-autocomplete" name="licensing-council" class="autocomplete-wrapper"></div-->
            <select id="licensing-council-autocomplete" name="licensing-council">
              <option value="" disabled selected></option>
              <option value="Ealing" data-additional-synonyms='["W5","W51"]'>Ealing Council</option>
              <option value="Hammersmith" data-additional-synonyms='["W6","W61"]'>Hammersmith &amp; Fulham Council</option>
              <option value="Kensington" data-additional-synonyms='["W8","W81"]'>Kensington Council</option>
              <option value="Westminster" data-additional-synonyms='["SW1","SW1A","SW1A 2","SW1A 2A","SW1A 2AA"]'>Westminster City Council</option>
            </select>
          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
