{% extends "layout.html" %}

{% block page_title %}
  Licensing council
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#back">Back</a>
      <form class="form" action="task-list">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large">Select your licensing council</h1>
            </legend>
            <label class="form-label" for="licensing-council-autocomplete">Search by postcode or council - for example, SW1A 2AA or Westminster</label>
            <!--input class="form-control" id="licensing-council" type="text" name="licensing-council"-->
            <div id="licensing-council-autocomplete" class="autocomplete-wrapper"></div>
          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
