{% extends "layout.html" %}

{% block page_title %}
  No licence needed
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">You don’t need to submit a temporary event notice</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi libero, perspiciatis molestiae porro quia repudiandae repellendus saepe quae, ipsa laborum, neque provident adipisci, dolorem odit totam ut voluptates temporibus placeat!</p>


    </div>
  </div>
</main>

{% endblock %}
