{% extends "layout.html" %}

{% block page_title %}
  No licence needed
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#back">Back</a>

      <h1 class="heading-large">You don’t need to submit a temporary event notice</h1>

      <p>You don’t need to submit a temporary event notice as you aren’t doing any activities that require one.</p>

    </div>
  </div>
</main>

{% endblock %}
