{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% set serviceName = 'GOV.UK Pay' %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#">Back</a>
      <form action="payment-card" method="post" class="form">

        <h1 class="heading-xlarge">
        Pay to {council} council for Temporary Event Notice
        </h1>
        <p>
      
        </p>
        
        <div class="form-group">
            <label class="form-label-bold" for="name">Full name
              <span class="form-hint">
            This is the individual or business making the application
              </span>
            </label>
            <input class="form-control form-control-3-4" id="name" name="payment-description" type="text">
            </input>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Proceed to payment">
        </div>
      </form>
    </div>
  </div>

</main>


{% endblock %}
