{% extends "layout.html" %}

{% block page_title %}
  Nature of event
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#back">Back</a>
      <form class="form" action="task-list#event-start-date" method="POST">
        <div class="form-group" data-required="Please answer this question">
          <label class="form-label" for="textarea">
            <h1 class="heading-large">
              Describe the nature of your previous event{% if data['how-many-previous-licences'] != "1" %}s{% endif %}
            </h1>
          </label>
          <div class="form-control-3-4">
            <textarea class="js-character-counter form-control" name="previous-event-description" id="previous-event-description" rows="3" maxlength="200">{{ data['previous-event-description'] }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
