{% extends "layout.html" %}

{% block page_title %}
  Number of previous events
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#back">Back</a>

      <form class="form" action="previous-event-description" method="POST">
        <div class="form-group" data-required="Please answer this question">
          <fieldset>
            <legend>
              <h1 class="heading-large">
                Have you held any temporary event licences in the last year?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="previous-licences-no" type="radio" name="previous-licence" value="no" {{ checked('previous-licence','no') }}>
              <label for="previous-licences-no">No</label>
            </div>

            <div class="multiple-choice" data-target="previous-licences-how-many">
              <input id="previous-licences-yes" type="radio" name="previous-licence" value="yes" {{ checked('previous-licence','yes') }}>
              <label for="previous-licences-yes">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="previous-licences-how-many">
              <label class="form-label form-label-bold" for="how-many-previous-licences">How many temporary event licences have you held in the past year?</label>
              <input class="form-control" name="how-many-previous-licences" type="number" data-non-numeric id="how-many-previous-licences" pattern="[0-9]*" value="{{ data['how-many-previous-licences'] }}">
            </div>
          </fieldset>
        </div>
        <div class="form-group">
            <div class="form-group">
              <input class="button" type="submit" value="Continue">
            </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
