{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Basic eligibility
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="licensable-activities" aria-describedby="licensable-activities">
                Licensable activities
              </a>
              <strong class="task-completed" id="licensable-activities">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="existing-premises-licence" aria-describedby="existing-premises-licence">
                Existing premises licence
              </a>
              <strong class="task-completed" id="existing-premises-licence">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Licensing council
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="licensing-council" aria-describedby="licensing-council">
                Licensing council
              </a>
              <strong class="task-completed" id="licensing-council">WIP</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Event details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="event-description">
                Type of event
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="event-costs">
                Event costs
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Licensable activities
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="event-postcode">
                Premises
              </a>
              <strong class="task-completed">WIP</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Applicant details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="applicant-details">
                Applicant details
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="contact-details">
                Contact details
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="select-address">
                Address
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Complete application
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Display notice
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Check your answers
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="declaration">
                Declaration
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="payment-card">
                Payment
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="application-complete">
                Application complete
              </a>
              <strong class="task-completed">Completed</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
