{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Check before you start
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="licensable-activities" aria-describedby="licensable-activities">
                Check if you need a temporary event notice (optional)
              </a>
              {% if data['licensableActivities'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Licensing council
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="licensing-council" aria-describedby="licensing-council">
                Licensing council
              </a>
              {% if data['licensing-council'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span>Previous events
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="previous-events" aria-describedby="previous-events">
                Details of previous events
              </a>
              {% if data['previousLicence'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Event details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="event-start-date">
                Event start date
              </a>
              {% if data['event-start-day'] and data['event-start-month'] and data['event-start-year'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="event-duration">
                Event duration
              </a>
              {% if data['eventDuration'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="event-description">
                Type of event
              </a>
              {% if data['event-description'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="event-costs">
                Event costs
              </a>
              {% if data['event-selling-tickets'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="event-postcode">
                Event address
              </a>
              {% if data['event-postcode'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="event-location">
                Type of location
              </a>
              {% if data['eventLocation'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Applicant details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="applicant-details">
                Applicant details
              </a>
              {% if data['applicant-name'] and data['applicant-dob-day'] and data['applicant-dob-month'] and data['applicant-dob-year'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="contact-details">
                Contact details
              </a>
              {% if data['contact-method'] %}
              <strong class="task-completed">Completed</strong>
              {% endif %}
            </li>
            <!--li class="task-list-item">
              <a class="task-name" href="select-address">
                Address
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="contact-address">
                Contact address
              </a>
            </li-->
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">6. </span> Complete application
          </h2>
          <ul class="task-list-items">
            <!--li class="task-list-item">
              <a class="task-name" href="#">
                Display notice
              </a>
            </li-->
            <li class="task-list-item">
              <a class="task-name" href="check-your-answers">
                Check your answers
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="declaration">
                Declaration
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="payment-card">
                Payment
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="application-complete">
                Application complete
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
