{% extends "layout.html" %}

{% block page_title %}
  You’ll have to start again
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large" role="status">
        Your application has timed out
      </h1>

      <p role="status">We have reset your application because you did not do anything for 10 minutes. We did this to keep your information secure.</p>

      <p>
        <a class="button" href="start-page" role="button">Start application again</a>
      </p>
      <p>If you don’t want to start again, you can <a href="https://www.gov.uk">return to GOV.UK</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
