{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You’ll have to start again
      </h1>

      <p>For your security, we cleared your application because you did not do anything for 15 minutes.</p>

      <p>If you're done, you can <a href="https://www.gov.uk">return to GOV.UK</a>.</p>

      <p>
        <a class="button" href="start-page" role="button">Start application again</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
